/node_modules
/public/hot
/public/fonts
/public/storage
/public/dist
/storage/*.key
/vendor
/vendor-d
/nova
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
workspace.xml
/public/uploads/*
/public/css/app.css
/public/vendor/*
/resources/lang/vendor/*
composer.lock
/public/js/app.js
.idea/
composer.lock