.btn {
    &.customized {
        text-transform: none !important;
        font-size: 14px !important;
    }

    &.img {
        background-color: $primary;
        border-radius: 50%;
        padding: 12px 14px;
    }

    &.img-text {
        background-color: $primary;
        border-radius: 22px;
        padding: 10px 22px;
        color: $white;
        max-height: 44px;
    }

    &.customized {
        border-radius: 4px;
    }

    &.edit {
        color: $primary;
        font-size: 12px;
        text-transform: initial;
        padding: 0;
    }
}

.close {
    &__sidebar {
        position: absolute;
        top: 50px;
        right: 50px;
        font-size: 34px !important;
    }
}