.page-header {
  background: url("/assets/images/hero-bg.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0;

  &__title {
    font-family: $gelion;
  }

  @media(max-width: 768px) {
    display: none;
  }
}
