.top-advertisement {
    background-size: cover;
    height: 170px;
    display: flex;
    h2 {
        font-size: 30px;
        margin: auto;
        margin-left: 30%;
        color: $white;
    }
}
